<div class="container mt-4">
  <h1>Publicación {{ posts.id }}</h1>
  <hr>
  <div class="card mb-3">
      <div class="card-header"><fa-icon [icon]="user"></fa-icon> {{ users.name }}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <h5 class="card-title">{{ posts.title }}</h5>
            <p>{{ posts.body }}</p>
          </div>
          <div class="col">
            <a class="btn btn-outline-secondary" *ngIf="!verComentarios" (click)="verComentarios=true;">Mostrar comentarios</a>
            <a class="btn btn-outline-secondary" *ngIf="verComentarios" (click)="verComentarios=false;">Ocultar comentarios</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="verComentarios">
      <app-comments></app-comments>
    </div>
  </div>