<div class="container mt-4">
    <h1><fa-icon [icon]="homeicon"></fa-icon> Publicaciones</h1>
    <hr>
</div>
<div class="container d-flex">
    <hr>
    <div class="row">
        <div class="col justify-content-center p-3 w-100" *ngFor="let item of posts | paginate: { itemsPerPage: 8, currentPage: page }">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><a class="descripcion-post" [routerLink]="['/post', item.id]">{{ item.title }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"> <a class="descripcion-post" [routerLink]="['/users', item.userId]">@{{ item.username }}</a></h6>
                    <p class="card-text">{{ item.body }}</p>
                    <!-- <a href="#" class="card-link">{{ item.name }}</a>
                    <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div> 
    </div>
    <hr>
</div>
<hr>
<pagination-controls class="mypages mt-3" (pageChange)="page = $event" previousLabel="Anterior"  nextLabel="Siguiente"></pagination-controls>